{% extends 'server/base.html' %}
{% block title %}Welcome to {{block.super}}{% endblock %}
{% load static %}

{% block content %}
<style>
body {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/023/308/048/small/abstract-grey-metallic-overlap-on-dark-circle-mesh-pattern-design-modern-luxury-futuristic-background-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

  <!-- @MAIN CONTENT -->
<body onclick="window.location.href='{% url 'emp:server_login' %}'" style="cursor: pointer;">
  <div class="container-fluid d-flex align-items-center bg-body-tertiary border rounded-4" style="height:80vh;">
    <div class="col-lg-8 p-5">
      <h4 class="display-6 text-muted my-0">Welcome to</h4>
      <h1 class="display-1 my-0">Lotus Pvt Ltd</h1>
      <p>Your trusted partner in employee management.</p>
    </div>
  </div>
</body>

  {% endblock %}
